.App {
    background: url('./assets/images/Field.jpg') no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}